// @font-face mixin
@mixin font-include($font-family, $name, $weight, $style: normal) {
  font-family: #{$font-family};
  src: url(../fonts/woff2-otf/#{$name}.woff2) format('woff2'),
       url(../fonts/woff-otf/#{$name}.woff) format('woff'),
       url(../fonts/otf/#{$name}.otf) format('truetype');
  font-weight: $weight;
  font-style: $style;
}

@font-face {
  @include font-include("Vain", Vain-Regular, 400, normal);
}
@font-face {
  @include font-include("Vain", Vain-Italic, 400, italic);
}

@font-face {
  @include font-include("Vain Mon", VainMon-Regular, 400, normal);
}
@font-face {
  @include font-include("Vain Mon", VainMon-Italic, 400, italic);
}

// Font options
@mixin font-class($family, $style) {
  font-family: $family;
  font-weight: 400;
  font-style: $style;
}

.vain-regular { @include font-class("Vain", normal); }
.vain-italic { @include font-class("Vain", italic); }
.vain-mon { @include font-class("Vain Mon", normal); }
.vain-mon-italic { @include font-class("Vain Mon", italic); }
