*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig
pkg/
src/

*.sfd-*
notes.txt
*-temp*
sources/*.*tf
*/bak/*
fonts/unhinted/*
.sass-cache/*

*backup/*
*.sfd-*
*/unhinted/*
*-temp*
*-backup*
*.bak

# Package
*-v*.zip
sfd/*
