<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>zwsp</key>
    <string>zwsp.glif</string>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>nonbreakingreturn</key>
    <string>space.glif</string>

    <key>cap</key>
    <string>cap.glif</string>
    <key>cap.blw</key>
    <string>cap.blw.glif</string>
    <key>cap.blw.abv</key>
    <string>cap.blw.abv.glif</string>
    <key>cap.abv</key>
    <string>cap.abv.glif</string>
    <key>cap.abv.abv</key>
    <string>cap.abv.abv.glif</string>

    <key>cap.desc</key>
    <string>cap.desc.glif</string>

    <key>small</key>
    <string>small.glif</string>
    <key>small.blw</key>
    <string>small.blw.glif</string>
    <key>small.blw.abv</key>
    <string>small.blw.abv.glif</string>
    <key>small.abv</key>
    <string>small.abv.glif</string>
    <key>small.abv.abv</key>
    <string>small.abv.abv.glif</string>

    <key>small.desc</key>
    <string>small.desc.glif</string>
    <key>small.desc.abv</key>
    <string>small.desc.abv.glif</string>
    <key>small.asc</key>
    <string>small.asc.glif</string>
    <key>small.asc.blw</key>
    <string>small.asc.blw.glif</string>

    <key>number</key>
    <string>number.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>

    <key>mod.abv</key>
    <string>mod.abv.glif</string>
    <key>mod.mid</key>
    <string>mod.mid.glif</string>
    <key>mod.blw</key>
    <string>mod.blw.glif</string>

    <key>comb.blw</key>
    <string>comb.blw.glif</string>
    <key>comb.abv</key>
    <string>comb.abv.glif</string>
    <key>comb.abv.abv</key>
    <string>comb.abv.abv.glif</string>

  </dict>
</plist>
